useDynLib("dizzysNEWYANN")
importFrom(graphics, "plot")
exportPattern(".")
exportClasses(
    "seir"    
)
export(seirSimul)
export(seirDet)
export(seirStoch)
export(seirGeneral)
export(equilibrium)
export(plot.pers)
export(plot.surv.prob)


